In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
from bs4 import BeautifulSoup as bs

In [3]:
from urllib.request import urlopen

In [4]:
urls = ['https://wuzzuf.net/search/jobs/?a=navbl&filters%5Bcareer_level%5D%5B0%5D=Entry%20Level&filters%5Bcountry%5D%5B0%5D=Egypt&q=data%20analysis&',
      'https://wuzzuf.net/search/jobs/?a=navbl&filters%5Bcareer_level%5D%5B0%5D=Entry%20Level&filters%5Bcountry%5D%5B0%5D=Egypt&q=data%20analysis&start=1',
      'https://wuzzuf.net/search/jobs/?a=navbl&filters%5Bcareer_level%5D%5B0%5D=Entry%20Level&filters%5Bcountry%5D%5B0%5D=Egypt&q=data%20analysis&start=2',
      'https://wuzzuf.net/search/jobs/?a=navbl&filters%5Bcareer_level%5D%5B0%5D=Entry%20Level&filters%5Bcountry%5D%5B0%5D=Egypt&q=data%20analysis&start=3',
      'https://wuzzuf.net/search/jobs/?a=navbl&filters%5Bcareer_level%5D%5B0%5D=Entry%20Level&filters%5Bcountry%5D%5B0%5D=Egypt&q=data%20analysis&start=4']

In [9]:
f = open("datawazzuf-data_analysis5.csv", "w")
header = "job_title, company_name, job_type, area, experience\n"
f.write(header)

for url in urls:
    client = urlopen(url)
    html = client.read()
    client.close()
    soup = bs(html, "html.parser")
    containers = soup.find_all("div",{"class": "css-1gatmva e1v1l3u10"})
    for container in containers:
        jtitle = container.findAll("h2",{"class": "css-m604qf"})
        job_title = jtitle[0].text.strip()

        cname = container.findAll("a",{"class": "css-17s97q8"})
        company_name = cname[0].text.strip()

        jtype = container.findAll("div",{"class":"css-1lh32fc"})
        job_type = jtype[0].text.strip()
        
        aa = container.findAll("span",{"class": "css-5wys0k"})
        area = aa[0].text[:aa[0].text.index(',')].strip()
        
        exp = containers[0].findAll("div",{"class": "css-y4udm8"})
        experience = exp[0].text[exp[0].text.index('Exp')-15:exp[0].text.index('Exp')+3]
    
        f.write(job_title + ", " + company_name + ", " + job_type + "," + area + "," + experience + "\n")
f.close()

In [11]:
pd.read_csv('datawazzuf-data_analysis5.csv',encoding='cp1252',on_bad_lines='skip')

,job_title,company_name,job_type,area,experience
0,Data Analysis Instructor (Excel - Power BI),EpsilonAI -,Full TimePart TimeFreelance / Project,Nasr City,el · 1+ Yrs of Exp
1,Financial Data Analyst - (French/Russian/Germa...,World Vest Base (WVB ) -,Full Time,Heliopolis,el · 1+ Yrs of Exp
2,English Financial Data Analyst,World Vest Base (WVB ) -,Full Time,Heliopolis,el · 1+ Yrs of Exp
3,Data Analyst,MTS Logistics -,Full Time,New Cairo,el · 1+ Yrs of Exp
4,Data Analyst,Raneen -,Full Time,Haram,el · 1+ Yrs of Exp
...,...,...,...,...,...
69,Accountant,Madrab zaki -,Full Time,Zagazig,· 1 - 2 Yrs of Exp
70,Financial Accountant,Altajamouat Investment Egypt -,Full Time,Giza,· 1 - 2 Yrs of Exp
71,Accountant,Enable -,Full Time,Smart Village,· 1 - 2 Yrs of Exp
72,Junior BI Developer,MegaSoft -,Full Time,Heliopolis,· 1 - 2 Yrs of Exp
73,Junior Accountant,Al Ahly Medical Company -,Full Time,Giza,· 1 - 2 Yrs of Exp